<template>
  <NonogramsOptions :x="x" :y="y" @xChange="onXChange" />
  <NonogramsPlayingField :x="x" :y="y" />
</template>

<script>
import NonogramsOptions from "./NonogramsOptions.vue";
import NonogramsPlayingField from "./NonogramsPlayingField.vue";

export default {
  name: "Nonograms",
  props: {
    x: Number,
    y: Number,
  },
  components: {
    NonogramsOptions,
    NonogramsPlayingField,
  },
  methods: {
    onXChange(value) {
      debugger;
      return value;
    },
  },
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
