<template>
  <div class="options">
    <label for="x">X</label>
    <input
      type="number"
      id="x"
      v-bind:value="x"
      v-on:input="$emit('xChange', parseInt($event.target.value || 0))"
      placeholder="x"
      min="5"
      max="15"
    />
    <label for="y">Y</label>
    <input
      type="number"
      id="y"
      v-bind:value="y"
      placeholder="y"
      v-on:input="$emit('yChange', parseInt($event.target.value || 0))"
      min="5"
      max="15"
    />
    <label for="showSolution">show solution</label>
    <input
      id="showSolution"
      type="checkbox"
      v-bind:checked="showSolution"
      v-on:input="$emit('showSolutionChange', $event.target.checked)"
    />

    <label for="difficulty">difficulty</label>
    <input
      id="difficulty"
      type="range"
      min="10"
      max="50"
      value="30"
      step="10"
      v-on:input="$emit('difficultyChange', parseInt($event.target.value))"
    />

    <input type="button" v-on:click="$emit('new')" value="new" />
  </div>
</template>

<script>
export default {
  name: "NonogramsOptions",
  props: {
    x: Number,
    y: Number,
    showSolution: Boolean,
  },
  emits: [
    "xChange", //
    "yChange",
    "showSolutionChange",
    "difficultyChange",
    "new",
  ],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.options input {
  margin-right: 1rem;
  margin-left: 0.5rem;
}
</style>
