<template>
  <div class="playingField">
    <div class="spacer" />

    <div class="colHeaders">
      <div class="colHeader" v-for="i in nonogram.colHeaders" v-bind:key="i">
        {{ i.join(" ") }}
      </div>
    </div>

    <div class="rowHeaders">
      <div class="rowHeader" v-for="row in nonogram.rows" v-bind:key="row">
        {{ row.rowHeader.join(" ") }}
      </div>
    </div>

    <div
      class="rows"
      v-on:mousedown="onMouseDown"
      v-on:mouseleave="onMouseLeave"
      v-on:mouseup="onMouseLeave"
      v-on:ondragstart="$event.preventDefault()"
    >
      <div
        class="row"
        v-for="(row, iRow) in nonogram.rows"
        v-bind:key="row"
        v-bind:data-i-row="iRow"
      >
        <div
          class="cell"
          v-bind:class="{
            filled: cell.iState === CONST.STATE.FILLED,
            unknown: cell.iState === CONST.STATE.UNK,
            solution: showSolution && cell.bFilled,
            blink_me: bValidUserSolution,
          }"
          v-for="(cell, iCell) in row.cells"
          v-bind:key="cell"
          v-on:mouseover="onCellMouseOver"
          v-on:mousedown="onCellMouseDown"
          v-on:contextmenu="onCellRightClick"
          v-bind:data-i-cell="iCell"
        ></div>
      </div>
      <!--p class="nonogramDebug">
        {{ JSON.stringify(nonogram, null, 2) }}
      </p-->
    </div>
  </div>
</template>

<script>
export default {
  name: "NonogramsPlayingField",

  components: {},

  watch: {
    x() {
      this._initRandomNonogram();
    },
    y() {
      this._initRandomNonogram();
    },
    difficulty() {
      this._initRandomNonogram();
    },
    nonogram: {
      deep: true,
      handler() {
        this._validateUserSolution();
      },
    },
  },

  data() {
    return {
      nonogram: null,
      bMouseDown: false,
      bValidUserSolution: false,
    };
  },

  props: {
    x: Number,
    y: Number,
    showSolution: Boolean,
    difficulty: Number,
  },

  created: function () {
    this.CONST = {
      STATE: {
        EMPTY: 0, // box is empty
        FILLED: 1, // box is marked as correct
        UNK: 2, // box is marked as unknown
      },
    };
    this._initRandomNonogram();
  },

  methods: {
    onMouseDown(oEvent) {
      this.bMouseDown = true;
    },

    onMouseLeave(oEvent) {
      this.bMouseDown = false;
    },

    onCellMouseOver(oEvent) {
      if (!this.bMouseDown) {
        return;
      }
      this.onCellMouseDown(oEvent);
    },

    /**
     * Toggle the cell's state between empty and filled.
     */
    onCellMouseDown(oEvent) {
      const oCell = this._getCellFromEvent(oEvent);

      switch (oCell.iState) {
        case this.CONST.STATE.FILLED:
          oCell.iState = this.CONST.STATE.EMPTY;
          break;
        default:
          oCell.iState = this.CONST.STATE.FILLED;
          break;
      }
    },

    /**
     * Toggle the cell's state between empty and unknown.
     */
    onCellRightClick(oEvent) {
      // don't open the browser's context menu
      oEvent.preventDefault();

      const oCell = this._getCellFromEvent(oEvent);

      switch (oCell.iState) {
        case this.CONST.STATE.UNK:
          oCell.iState = this.CONST.STATE.EMPTY;
          break;
        default:
          oCell.iState = this.CONST.STATE.UNK;
          break;
      }
    },

    _getCellFromEvent(oEvent) {
      const iRow = parseInt(oEvent.target.parentElement.dataset.iRow);
      const iCell = parseInt(oEvent.target.dataset.iCell);

      return this.nonogram.rows[iRow].cells[iCell];
    },

    _initRandomNonogram: function () {
      // randomly check some cells
      const n = [];
      for (let i = 0; i < this.x; i++) {
        const row = [];
        for (let j = 0; j < this.y; j++) {
          const bFilled = !!(Math.random() < this.difficulty / 100 ? 0 : 1);
          row.push({
            bFilled: bFilled,
            iState: this.CONST.STATE.EMPTY, //bFilled ? this.CONST.STATE.FILLED : this.CONST.STATE.EMPTY,
          });
        }
        n.push({ cells: row });
      }
      this.nonogram = {
        rows: n,
        colHeaders: [],
      };

      this._updateRowHeaders();
      this._updateColHeaders();
    },

    _updateRowHeaders: function () {
      const iSizeX = this.x;
      const iSizeY = this.y;

      // for all rows
      for (let row = 0; row < iSizeX; row++) {
        let i = 0;
        const aTmp = [];
        const oRow = this.nonogram.rows[row];
        const aCells = oRow.cells;

        // for all cells in the current row
        for (let c = 0; c < iSizeY; c++) {
          const cell = aCells[c].bFilled;

          if (cell) {
            i = i + 1;
          } else if (!cell && i !== 0) {
            aTmp.push(i);
            i = 0;
          }
        }

        // if the last cell was a 1, we didn't add it yet
        if (i !== 0) {
          aTmp.push(i);
        }

        // write rowHeaders back to model
        oRow.rowHeader = aTmp;
      }
    },

    _updateColHeaders: function () {
      const iSizeX = this.x;
      const iSizeY = this.y;

      const aColHeads = [];

      // for all columns
      for (let iCol = 0; iCol < iSizeY; iCol++) {
        let i = 0;
        const aTmp = [];

        // for all rows
        for (let iRow = 0; iRow < iSizeX; iRow++) {
          const bFilled = this.nonogram.rows[iRow].cells[iCol].bFilled;

          if (bFilled) {
            i = i + 1;
          } else if (!bFilled && i !== 0) {
            aTmp.push(i);
            i = 0;
          }
        }

        if (i !== 0) {
          aTmp.push(i);
        }

        aColHeads.push(aTmp);
      }
      this.nonogram.colHeaders = aColHeads;
    },

    _validateUserSolution: function () {
      const aRows = this.nonogram.rows;
      let bValid = true;

      row_loop: for (let iRow = 0; iRow < this.x; iRow++) {
        for (let iCol = 0; iCol < this.x; iCol++) {
          const oCell = aRows[iRow].cells[iCol];

          bValid = oCell.bFilled
            ? oCell.iState === this.CONST.STATE.FILLED
            : oCell.iState !== this.CONST.STATE.FILLED;

          if (!bValid) {
            break row_loop;
          }
        }
      }

      this.bValidUserSolution = bValid;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.blink_me {
  animation: blinker 0.25s linear 3;
}

@keyframes blinker {
  50% {
    background-color: gold;
  }
}
.playingField {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rows {
  width: fit-content;
}

.row {
  display: flex;
}

.row:nth-child(5n):not(:last-child) {
  border-bottom: 1px solid red;
}

.rowHeaders {
  text-align: end;
}

.rowHeader {
  height: 1rem;
  line-height: 1rem;
  margin-right: 0.2rem;
  border: 1px solid transparent;
  letter-spacing: 0.2rem;
}

.colHeaders {
  display: flex;
  align-items: flex-end;
}

.colHeader {
  border: 1px solid transparent;
  width: 1rem;
}

.cell {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border: 1px solid lightgray;
}

.cell:nth-child(5n):not(:last-child) {
  border-right: 1px solid red;
}

.cell.filled {
  background-color: black;
}

.cell.unknown {
  background-color: lightpink;
}

.cell.solution {
  background-color: lightgray;
}

.cell.solution.filled {
  background-color: lightgreen;
}

.cell.solution.unknown {
  background-color: red;
}

p.nonogramDebug {
  white-space: pre;
  font-size: 0.75rem;
}
</style>
