<template>
  <NonogramsOptions
    :x="x"
    :y="y"
    :showSolution="bShowSolution"
    @xChange="onXChange"
    @yChange="onYChange"
    @showSolutionChange="onShowSolutionChange"
    @difficultyChange="onDifficultyChange"
    @new="onNew"
  />
  <NonogramsPlayingField
    :x="x"
    :y="y"
    :difficulty="iDifficulty"
    :showSolution="bShowSolution"
    ref="options"
  />
</template>

<script>
import NonogramsOptions from "./components/NonogramsOptions.vue";
import NonogramsPlayingField from "./components/NonogramsPlayingField.vue";

export default {
  name: "App",
  components: {
    NonogramsOptions,
    NonogramsPlayingField,
  },
  methods: {
    onXChange(value) {
      this.x = value;
    },
    onYChange(value) {
      this.y = value;
    },
    onShowSolutionChange(value) {
      this.bShowSolution = value;
    },
    onDifficultyChange(value) {
      this.iDifficulty = value;
    },
    onNew() {
      this.bShowSolution = false;
      this.$refs.options._initRandomNonogram();
    },
  },
  data() {
    return {
      x: 5,
      y: 5,
      bShowSolution: false,
      iDifficulty: 50,
    };
  },
};
</script>

<style>
body {
  background-color: oldlace;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
